{% extends 'base.html' %} {% block title %}About me - My Flask Site {% endblock
%} {% block content %}
<div class="container py-3">
  <h1 class="text-center mb-5">About me</h1>

  <div class="row mt-5">
    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <h4>Here's a little info about me.</h4>
        <p>
          I have made this website because, ever since I was a child, I have
          been fascinated by anime and manga. I have always been drawn to the
          unique art style and storytelling techniques used in these mediums. As
          I grew older, I realized that I wanted to learn how to create my own
          anime and manga, but I found it difficult to find resources that were
          both comprehensive and easy to understand. That's why I decided to
          create this website. I have created this website using the videos that
          I once watched and learned from. These videos are by a youtuber named
          "draw like a sir". I really appreciate his work in this industry and
          really hope I have done justice to his work. I have also added my own
          personal touch to the website, making it more user-friendly and
          accessible to beginners. I hope that this website will inspire and
          empower others to pursue their passion for anime and manga, just as it
          has inspired me. -Musa faizan (Creator of Art docere)
        </p>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
                <div class="card h-100">
          <img
            src="{{ url_for('static', filename='images/about me.jpg') }}"
            class="card-img-middle"
            alt="About Me Feature"
      </div>
    </div>

    {%endblock%}
  </div>
</div>
