{% extends 'base.html' %} {% block title %}Anatomy Lessons - Art Docere {%
endblock %} {% block content %}
<div class="container py-3">
  <h1 class="text-center mb-5">Anatomy Lessons - Art Docere</h1>

  <div class="row mt-5">
    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <h4>Anatomy is crucial for creating accurate and realistic artwork.</h4>
        <p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/m583-GDIFCQ?si=8d2-dR1Htn8EpuzJ"
            title="YouTube video player"
            frameborder="0"
            allow="
              accelerometer;
              autoplay;
              clipboard-write;
              encrypted-media;
              gyroscope;
              picture-in-picture;
              web-share;
            "
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          Understanding human anatomy allows artists to depict the human body
          more convincingly. By studying muscles, bones, and body proportions,
          you can improve your figure drawing skills and create characters that
          move and pose naturally. Whether you're a beginner or an experienced
          artist, mastering anatomy will enhance the quality of your artwork.
        </p>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/9m4Hf_6U4Rc?si=JTlh3B_R-_kaQRbm"
            title="YouTube video player"
            frameborder="0"
            allow="
              accelerometer;
              autoplay;
              clipboard-write;
              encrypted-media;
              gyroscope;
              picture-in-picture;
              web-share;
            "
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          Anatomy matters because it provides a foundation for creating
          believable characters and scenes. By learning how the body works, you
          can avoid common mistakes and create art that resonates with viewers.
          Our anatomy lessons cover essential topics such as skeletal structure,
          muscle groups, and movement, helping you build a strong understanding
          of the human form.
        </p>
      </div>
    </div>

    {%endblock%}
  </div>
</div>
