{% extends 'base.html' %} {% block title %}Learn how to colour beautifully - Art
Docere {% endblock %} {% block content %}
<div class="container py-3">
  <h1 class="text-center mb-5">Learn how to colour beautifully - Art Docere</h1>

  <div class="row mt-5">
    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <h4>Every anime artist should master colour techniques</h4>
        <p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/wcUAuPm0nZQ?si=y9GuQ2JZkDEXv8rB"
            title="YouTube video player"
            frameborder="0"
            allow="
              accelerometer;
              autoplay;
              clipboard-write;
              encrypted-media;
              gyroscope;
              picture-in-picture;
              web-share;
            "
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          Mastering colour techniques is essential for creating visually
          appealing anime art. <br />Understanding color theory, blending,
          shading, and lighting will help you bring your characters and scenes
          to life. Practice regularly and experiment with different color
          palettes to develop your unique style.
        </p>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/pAK0cvVQr_4?si=FrVIzyJ3d_Ohl-7s"
            title="YouTube video player"
            frameborder="0"
            allow="
              accelerometer;
              autoplay;
              clipboard-write;
              encrypted-media;
              gyroscope;
              picture-in-picture;
              web-share;
            "
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          The colour theory is a fundamental aspect of art that every anime
          artist should understand. It involves the study of how colors
          interact, the emotional impact of different hues, and the creation of
          harmonious color schemes. By mastering colour theory, artists can
          enhance their work's visual appeal and convey specific moods and
          atmospheres effectively.
        </p>
      </div>
    </div>

    {%endblock%}
  </div>
</div>
