{% extends 'base.html' %} {% block title %}easy to use😁 - My Flask Site {%
endblock %} {% block content %}
<div class="container py-3">
  <h1 class="text-center mb-5">Easy to Use</h1>

  <div class="row mt-5">
    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <h4>Our platform is designed with simplicity in mind.</h4>
        <p>
          Our website is designed to make learning anime drawing simple and
          enjoyable. Clear menus and an organized layout make it easy to find
          tutorials, drawing guides, and practice exercises. Step-by-step
          lessons are presented in a logical order, so beginners can learn with
          confidence while more experienced artists can quickly find the
          techniques they need. Whether you're using a computer, tablet, or
          phone, you can access our resources with ease.
        </p>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <p>
          Whether you're learning to draw your first anime character or refining
          advanced techniques, our user-friendly design allows you to focus on
          what matters most—developing your artistic skills without unnecessary
          distractions or confusion.
        </p>
      </div>
    </div>

    {%endblock%}
  </div>
</div>
