{% extends 'base.html' %} {% block title %}Fast and Efficient⚡ - My Flask Site
{% endblock %} {% block content %}
<div class="container py-3">
  <h1 class="text-center mb-5">Fast and Efficient⚡ - My Flask Site</h1>

  <div class="row mt-5">
    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <h4>Our platform is designed with simplicity in mind.</h4>
        <p>
          You don't need to be a tech expert to navigate and utilize our
          features. <br />With an intuitive interface, clear instructions, and
          helpful tips, you can easily find what you need and get started right
          away. Whether you're a beginner or an experienced user, our
          easy-to-use tools will help you achieve your goals without
          frustration.
        </p>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card h-100 p-4">
        <p>
          Draw Better, Faster Whether you're just starting or refining your
          skills, our tutorials make learning anime art simple and efficient.
          With organized lessons, easy-to-understand explanations, and practical
          exercises, you can learn faster while developing reliable drawing
          techniques that last. Our step-by-step lessons are designed to help
          you improve quickly without feeling overwhelmed. Every tutorial is
          easy to follow, so you can spend less time searching for answers and
          more time drawing. With clear instructions and proven techniques, you
          can build your skills with confidence.
        </p>
      </div>
    </div>

    {%endblock%}
  </div>
</div>
